<div class="container">
  <div class="homepage">
    <h1>Join our plateform</h1>
    <% if user_signed_in? %>
        <li class="nav-item">
          <%= button_to destroy_user_session_path, method: :delete do %>
            <%= image_tag 'search.png', alt: 'Sign out', style: 'width: 4rem; height: 4rem;' %>
          <% end %>
        </li>
        <% else %>
        <li class="nav-item my-flex">
          <%= link_to "Sign in", new_user_session_path, class:"button" %>
          <%= link_to "Sign up", new_user_registration_path, class:"button" %>
        </li>
      <% end %>
  </div>
  <ul class="homepage-user-list">
    <% @users.each do |user| %>
      <li class="user">
        <div class="user-image">
          <% if user.photo && user.photo.attached? %>
            <%= image_tag user.photo, style: 'width: 50px; height: 50px;' %>
          <% elsif user.photo.is_a?(String) %>
            <%= image_tag image_path('default-user.png'), style: 'width: 50px; height: 50px;' %>
          <% end %>
        </div>
        <div class="user-details">
          <h2 class="username"><%= link_to user.name, user_path(user) %></h2>
          <p class="item-count">Number of operations: <%= user.expenses.count %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>